/*VARIABELEN*/
/*-------------------------------------------------------------------------------------------------------*/
/* NAVIGATIE */
/*om menu achter titel te laten schuiven*/
.titel {
  background-color: white;
  z-index: 99;
}

.titel a {
  color: black;
  text-decoration: none;
}

.titel a:hover {
  text-decoration: none;
  color: #F1BBBE;
}

.navigatie h1 {
  font-family: "Mali";
  font-weight: 700;
  font-size: 35px;
  padding-top: 5px;
}

@media screen and (min-width: 800px) {
  .navigatie h1 {
    padding: 20px 0px;
  }
}

.menu {
  height: 400px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (min-width: 800px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 25px;
  }
}

.menu a {
  color: black;
  font-family: "Mali";
}

@media screen and (min-width: 800px) {
  .menu a {
    padding: 0px 20px;
  }
}

.menu a:hover {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .menu a:hover {
    background-image: url(../images/lijn.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 15px 13px;
  }
}

.menu .a_active {
  color: black;
  text-decoration: none;
  /*streep*/
  background-image: url(../images/lijn.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 15px 13px;
}

.menu li {
  padding: 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 800px) {
  .menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 10px 0px;
  }
}

.menu ul {
  padding: 0px;
}

.verborgen {
  height: 0;
  top: -400px;
}

/*HAMBURGER*/
.hamburger {
  padding-top: 6px;
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (min-width: 800px) {
  .hamburger {
    display: none;
  }
  .menu {
    top: 50px;
    vertical-align: top;
  }
  .menu li {
    display: inline;
  }
}

/*-------------------------------------------------------------------------------------------------------*/
/*ALGEMEEN*/
li {
  list-style: none;
}

body h2 {
  font-family: "Mali";
  font-size: 40px;
  font-weight: 700;
  padding: 30px 0px;
}

@media screen and (min-width: 800px) {
  body h2 {
    padding: 10px 0px;
  }
}

body h3 {
  font-family: "Mali";
  font-size: 20px;
}

body p {
  font-family: "Asap";
}

/*tenen rechts*/
.afbeelding_container_rechts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.afbeelding_container_rechts .afbeelding {
  max-height: 350px;
}

@media screen and (min-width: 800px) {
  .afbeelding_container_rechts .afbeelding {
    max-height: 700px;
  }
}

/*tenen links*/
.afbeelding_container_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}

.afbeelding_container_links .afbeelding {
  max-height: 350px;
}

@media screen and (min-width: 800px) {
  .afbeelding_container_links .afbeelding {
    max-height: 700px;
  }
}

/*-------------------------------------------------------------------------------------------------------*/
/*FOOTER*/
.footer {
  padding: 20px 0px;
}

@media screen and (min-width: 800px) {
  .footer {
    background: none;
  }
}

.footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 800px) {
  .footer p {
    margin: 0px;
  }
}

.footer input[type=text] {
  background: none;
  width: 100%;
  padding: 5px 10px;
  border: 2px solid #F1BBBE;
  border-radius: 20px;
  outline: none;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 800px) {
  .footer input[type=text] {
    width: 600px;
    padding: 5px;
    margin: 0px;
  }
}

.footer input[type=submit] {
  text-decoration: none;
  color: white;
  background-color: #DB989B;
  padding: 10px 120px;
  border: none;
  border-radius: 20px;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .footer input[type=submit] {
    padding: 5px 10px;
    margin: 0px;
    width: 200px;
  }
}

.footer .naam {
  font-size: 10px;
  padding-top: 30px;
}

@media screen and (min-width: 800px) {
  .footer .naam {
    margin: 0px;
    padding: 0px;
  }
}

.footer .iconen {
  padding-top: 30px;
}

.footer .iconen a {
  padding: 0px 20px;
  color: black;
}

@media screen and (min-width: 800px) {
  .footer .iconen {
    margin: 0px;
    padding: 0px;
  }
}
/*# sourceMappingURL=style.css.map */